

.particles {

  height: 100%;
  background: #0086d4;
  overflow: hidden;
}

.custom-logo {

  width: 30%;
}

.custom-bottom-logo {

  width: 60%;
}

.testimonial-section .section-title--l5 {

  padding-bottom: 0;
}


@media only screen and (max-width: 992px) {

  .about-us-custom-padding {

    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 768px) {

  .brand-logo {

    width: 70%;
  }

  .custom-logo {

    width: 36%;
  }

  .custom-service-welcome {

    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {

  .custom-logo {

    width: 50%;
  }

  .particles {

    padding-top: 260px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 374px) {

  .particles {

    padding-top: 200px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 360px) {

  .particles {

    padding-top: 180px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 340px) {

  .particles {

    padding-top: 120px;
    padding-bottom: 40px;
  }
}
