

.particles {

  height: 100%;
  background: black;
  overflow: hidden;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: rotate 14s infinite linear;
  z-index: -1;
}

.c {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  opacity: 0;
}

.c:nth-child(1) {
  animation: orbit1 14s infinite;
  animation-delay: 0.01s;
  background-color: red;
}

.custom-logo {

  width: 30%;
}

.custom-bottom-logo {

  width: 60%;
}

.testimonial-section .section-title--l5 {

  padding-bottom: 0;
}


@media only screen and (max-width: 992px) {

  .about-us-custom-padding {

    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 768px) {

  .brand-logo {

    width: 70%;
  }

  .custom-logo {

    width: 36%;
  }
}

@media only screen and (max-width: 500px) {

  .custom-logo {

    width: 50%;
  }
}
