/* ---- reset ---- */


canvas {
  display: block;
  z-index: -1;
}


/* ---- particles.js container ---- */

#particles-js {

  margin-top: -200px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
